@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<img src= '@Url.Content("~/images/flight.png")' alt="IMAGES" />
	<h1 class="banner-title">Flights</h1>
	<div class="searchBar"></div>
</div>
